.chat-message-user {
  display: flex;
  justify-content: right;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.chat-message-datetime {
  margin-top: 6px;
  font-size: 13px;
  color: #868e96;
  text-align: right;
}

.chat-message-profile {
  width: 45px;
}