.main-content {
  min-height: calc(100vh - 80px); /* ajusta conforme a altura do Header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  text-align: center;
}

.message {
  font-size: 2.5rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 0.5rem;
}

.sub-message {
  font-size: 1rem;
  color: #6b7280;
  max-width: 420px;
}
